@import "tailwindcss";

@theme {
  --color-primary_color: #1ABC9C;
  --color-gray_text3: #032921;
  --color-gray_text2: #808B9A;
  --color-secondary_color: #032921;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#F5F5F5;
  overflow: auto;
}

body {
  position: relative;
  min-height: 100vh;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/src/assets/navBGG.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.02;
  /* filter: blur(100px); */
  z-index: -1;
  pointer-events: none;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}
button{
  cursor: pointer;
}
.max-w-7xl{
  max-width:1390px;
}